@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  background: #dfdfdf;
}

.container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 5px;
}

form {
  display: inline-block;
}

input {
  padding: 4px 15px 4px 5px;
}

#button {
  display: inline-block;
  background-color: #fc999b;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: .8;
}

ul {
  padding-left: 20px;
}

ul li {
  padding: 5px;
  color: #000;
  background: #fff;
  margin-bottom: 10px;
  position: relative;
}

ul li:nth-child(even) {
  background: #dfdfdf;
}

ul li.strike {
  text-decoration: line-through;
}

ul li:hover {
  cursor: pointer;
}

ul li .crossOutButton {
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #025f70;
  font-weight: 800;
}
